body {
    background-color: #F8F9FC !important;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.content {
    min-height: calc(100vh - 60px);
    margin-top: 100px;
    margin-left: 240px;
    margin-right: 40px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.container {
    width: 80% !important;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.card-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.c-gray {
    background-color: #E9ECEF !important;
}

.btn-primary {
    background-color: #005BAC !important;
}


.cluster-analysis-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cluster-analysis-container h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.cluster-analysis-table {
    width: 100%;
    border-collapse: collapse;
}

.cluster-analysis-table th,
.cluster-analysis-table td {
    padding: 12px;
    text-align: left;
    font-size: 1em;
}

.cluster-analysis-table th {
    background-color: #e9ecef;
    font-weight: bold;
    color: #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cluster-analysis-table tbody tr {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.cluster-analysis-table tbody tr:last-child {
    border-bottom: none;
}

.keyword-rank {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

.keyword-rank img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.sentiment-label {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9em;
    color: #fff;
}

.sentiment-label img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.sentiment-label.positive {
    background-color: #D4F5D8; /* 긍정 - 연한 초록색 */
    color: #2b8a3e; /* 텍스트 색상 */
}

.sentiment-label.neutral {
    background-color: #FFF7C7; /* 중립 - 연한 노란색 */
    color: #d4a017; /* 텍스트 색상 */
}

.sentiment-label.negative {
    background-color: #FFDEDD; /* 부정 - 연한 빨간색 */
    color: #b22222; /* 텍스트 색상 */
}

.tables-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.table-left, .table-right {
    width: 48%;
}

.table-left table, .table-right table {
    width: 100%;
    border-collapse: collapse;
    /*background-color: #f9f9f9;*/
    /*box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);*/
}

.tag {
    display: inline-block;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 0.8em;
    background-color: #5bc0de;
    color: white;
}

.ai-analysis-button-container {
    text-align: center;
    margin-bottom: 20px;
}

.ai-analysis-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.bi-clipboard-data {
    /*width: 20px;*/
    font-size: 20px;
    margin-right: 10px;
    color: #f8f8f8;
}

.analysis-text {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    line-height: 1.6;
    color: #333;
    font-size: 1em;
}

/* 특정 컨테이너 내 테이블 스타일 */
.comparison-analysis-container table th,
.comparison-analysis-container table td {
    /*border: 1px solid #ddd;*/
    padding: 10px;
    text-align: center;
}

.comparison-analysis-container table th {
    /*background-color: #f2f2f2;*/
    font-weight: bold;
}

/* 테이블 스타일 */
.styled-table table {
    width: 100%;
    table-layout: fixed; /* 열 너비 고정 */
    border-collapse: separate;
    border-spacing: 0 10px; /* 행 간격 */
    height: 300px; /* 양쪽 테이블 높이 고정 */
    overflow-y: auto; /* 테이블 내용이 높이를 초과할 경우 스크롤 */
    /*display: block;*/
}

/* 테이블 헤더 스타일 */
.styled-table th {
    font-weight: bold;
    text-align: left;
    padding: 10px;
    background-color: #e9ecef;
    color: #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

/* 테이블 셀 스타일 */
.styled-table td {
    background-color: #fff;
    padding: 10px;
    vertical-align: middle;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis; !* 말줄임표 (...) 추가 *!*/
    /*white-space: nowrap; !* 텍스트를 한 줄로 유지 *!*/
    text-align: center;
}

/* 테이블 행 스타일 */
.styled-table tr {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* 셀 둥글게 */
}

/* 번호 표시 스타일 */
.styled-table .circle-number {
    display: inline-block;
    background-color: #f2f2f2;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
}

.styled-table .question-name {
    position: relative;
    max-width: 150px; /* 원하는 최대 너비로 조절 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* 말줄임표 활성화 */
    cursor: pointer; /* 마우스를 올렸을 때 손가락 모양 */
}

/* 툴팁 스타일 */
.styled-table .question-name:hover::after {
    content: attr(title); /* title 속성 내용 표시 */
    position: absolute;
    top: 100%; /* 요소 바로 아래에 툴팁 표시 */
    left: 0;
    background-color: #333; /* 툴팁 배경색 */
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    z-index: 1;
    transform: translateY(5px); /* 약간의 간격 추가 */
}

/* 유형 아이콘 스타일 */
.styled-table .type-icon {
    font-size: 1.2em;
    margin-right: 5px;
    vertical-align: middle;
}

/* 열 너비 설정 */
.styled-table th:nth-child(1),
.styled-table td:nth-child(1) {
    width: 10%; /* 번호 열 너비 */
}

.styled-table th:nth-child(2),
.styled-table td:nth-child(2) {
    width: 60%; /* 질문/응답 열 너비 */
}

.styled-table th:nth-child(3),
.styled-table td:nth-child(3) {
    width: 45%; /* 유형/클러스터 열 너비 */
}

.table-left, .table-right {
    border: 2px solid #ddd; /* 테두리 색상과 두께 */
    border-radius: 10px; /* 둥근 모서리 */
    padding: 20px; /* 테두리 안쪽 여백 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 */
}

.analysis-text {
    max-height: 400px; /* 텍스트가 이 높이를 초과하면 스크롤 생김 */
    overflow-y: auto; /* 세로 스크롤 추가 */
    padding: 10px; /* 패딩 추가 (선택사항) */
    border: 1px solid #ccc; /* 테두리 (선택사항) */
}


.loading-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(233, 236, 239, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    z-index: 9999;
    transition: all 0.3;
}
.loader {
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
}
@keyframes mulShdSpin {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em black,
        1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
        2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
        1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
        0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
        -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
        -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
        1.8em -1.8em 0 0em black, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
        1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
        0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
        -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
        1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em black,
        1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
        0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
        -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
        1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
        2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em black,
        0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
        -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
        1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
        2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
        1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em black,
        -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
        -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
        1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
        2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
        1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
        0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em black,
        -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
        1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
        2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
        1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
        0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
        -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em black,
        -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
        1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
        2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
        1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
        0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
        -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
        -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em black;
    }
}
