body {
    background-color: #f8f9fc !important;
}

.content {
    margin-top: 100px;
    margin-left: 240px;
    margin-right: 40px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: auto;
    background-color: green;
}