/*공통 스타일*/
/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f6f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 60px; !* navbar 공간 확보 *!
}

!* navbar 스타일 *!
.navbar {
    width: 100%;
    background-color: #f8f9fa;
    padding: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    position: fixed; !* navbar를 페이지 상단에 고정 *!
    top: 0;
    left: 0;
    z-index: 1000; !* 다른 요소 위에 표시되도록 *!
}

.navbar a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.logo {
    max-width: 68%;
    max-height: 72px;
    margin-right: 8px;
}

!* 로그인 창 스타일 *!
.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 50%;
}

h2 {
    text-align: center;
    font-size: 42px;
    color: #333;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
}

.input-container input {
    width: 100%;
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 25px;
}

#login-btn {
    width: 95%;
    padding: 19px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 25px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 21px;
}

#login-btn:hover {
    background-color: #0056b3;
}

.links {
    text-align: center;
    margin-top: 10px;
}

.links a {
    text-decoration: none;
    color: #007bff;
    font-size: 21px;
}

.links a:hover {
    text-decoration: underline;
}

!* 이메일 찾기 창 스타일 *!
.form-container {
    background-color: white;
    border-radius: 8px;
    width: 40%;
    height: 50%;
    padding: 82px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-container h2 {
    font-size: 42px;
    margin-bottom: 68px;
    margin-top: 0px;
    color: #333;
}

.form-container input {
    width: 100%;
    padding: 18px;
    margin-bottom: 35px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 25px;
}

.phone-input {
    position: relative;
    width: 100%;
    margin-bottom: 35px;
}

.phone-input input {
    width: 100%;
    padding: 18px;
    margin: -3px;
    font-size: 25px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.phone-input button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    padding: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.phone-input button:hover {
    background-color: #0056b3;
}

button {
    padding: 19px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 25px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
}

#verifyButton {
    background-color: #007bff;
    color: white;
    font-size: 25px;
}

.links {
    text-align: center;
    margin-top: 20px;
}

.links a {
    text-decoration: none;
    color: #007bff;
    font-size: 25px; !* 링크 글자 크기 조정 *!
}

.links a:hover {
    text-decoration: underline;
}

!* 공통 스타일 *!
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f6f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 60px; !* navbar 공간 확보 *!
}*/


/* 전역 스타일 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif; /* 서체 변경 */
    background-color: #f6f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 60px; /* navbar 공간 확보 */
}

/* 네비게이션 바 스타일 */
.navbar {
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.logo {
    max-width: 55%;
    max-height: 65px;
    margin-right: 8px;
}

/* 폼 컨테이너 스타일 */
/* 전역 스타일 */



/* 폼 스타일 */
.form-container {
    /*background-color: var(--white);*/
    padding: 44px;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: auto;;
}

.input-group {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group input, .input-group button {
    width: calc(70% - 10px); /* 입력 필드 너비 조정 */
    padding: 15px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.input-group button, #verifyTempPassword {
    width: 30%; /* 버튼 너비 조정 */
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-top: 33px;
}

.input-group button:hover {
    background-color: #0056b3;
}

#verificationSection {
    width: 100%;
    display: none;
}

#verificationSection input, #verificationSection button {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.25rem;
}

#timer {
    display: none;
    font-size: 1.5rem;
    color: red;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.form-container h2 {
    font-size: 1.5rem;
    margin-bottom: 29px;
    color: #333;
    font-weight: bold;
}

.form-container input, .form-container button {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.25rem;
}

.phone-input {
    position: relative;
    width: 100%;
    margin-bottom: 35px;
}

.phone-input input {
    width: 99%;
    padding: 15px;
    margin: 0px;
    font-size: 1.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.phone-input button {
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-108%);
    width: 100px;
    padding: 14px;
    background-color: #005BAC;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.25rem;
    cursor: pointer;
}

.phone-input button:hover {
    background-color: #0056b3;
}



/* 링크 스타일 */
.links a {
    color: #007bff;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.links a:hover {
    background-color: #007bff;
    color: white;
}


/* 비밀번호 재설정 모달 스타일 */
#resetPasswordModal .modal-dialog {
    max-width: 600px; /* 모달의 최대 폭을 조정 */
    margin: 1.75rem auto; /* 상단 및 하단 마진을 제공하여 더 나은 수직 중앙 정렬을 달성 */
    display: flex;
    align-items: center; /* 이 속성은 모달을 수직 중앙에 위치시킵니다 */
    min-height: calc(100% - (1.75rem * 2)); /* 뷰포트 높이에서 상하 마진을 제외한 최소 높이 */
}

.modal-content {
    padding: 20px;
    border-radius: 10px; /* 모서리 둥글게 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 모달 그림자 */
}

#resetPasswordModal .modal-header {
    display: flex;
    justify-content: center; /* 헤더 항목들을 중앙으로 정렬 */
    align-items: center; /* 항목들을 수직 중앙에 정렬 */
    padding: 1rem; /* 상단 패딩 조정 */
    border-bottom: none; /* 하단의 구분선 제거 */
}

#resetPasswordModal .modal-title {
    margin: 0 auto; /* 자동으로 중앙 정렬 */
    left: -30px; /* 닫기 버튼의 영향을 받지 않도록 왼쪽으로 조정 */
    font-weight: bold; /* 폰트 두께 강조 */
    font-size: 25px;
}

#resetPasswordModal .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.9rem;
    color: #000;
    padding: 8px;
    padding-left: 85%;
    border: none;
    background: none;
}

#resetPasswordModal .close:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}


.modal-body {
    padding: 20px 0; /* 모달 본문 패딩 */
    background-color: #fff; /* 모달 본문 배경 */
}

.modal-body input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px; /* 입력 필드 테두리 둥글게 */
}

.modal-footer {
    border-top: none; /* 모달 하단 구분선 제거 */
    background-color: #f8f9fa; /* 모달 하단 배경색 */
    padding: 15px 20px;
}

.modal-footer .btn {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 4px;
}

.modal-footer .btn-secondary {
    background-color: #ccc;
    color: #333;
}

.modal-footer .btn-primary {
    background-color: #007bff;
    color: white;
}

.modal-footer .btn-primary:hover {
    background-color: #0056b3;
}


