body {
  overflow-x: hidden;
}

.j-condition-box {
  width: 100%;
  margin-top: 76px;
  margin-left: calc(100vh - 770px);
  margin-right: 40px;
  min-height: calc(100vh - 130px);
  box-sizing: border-box;

  /* 부모 컨테이너는 relative */
  overflow: auto;
  /* 컨테이너 밖 요소를 숨김 */
}

.j-condition-card-container {
  width: 50%;
  height: 788px;
  margin: 1%;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#fixedNode {
  position: fixed;
  top: 128px;
  right: 475px;
  width: 100px;
  height: 40px;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}
#fixedNode > button {
  width: 101px;
  height: 100%;
}

.node-content img {
  width: 50px;
  height: 50px;
}
/*nav box*/
.condition-nav-box {
  width: 17%;
  height: 788px;
  border-radius: 10px;
}
.nav-top {
  height: 9%;
  border-bottom: 1.5px solid #e9ecef;
}

.condition-nav-1 {
  border-radius: 10px;
  height: 53%;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.condition-nav-1-top {
  font-weight: bold;
  text-align: center;
  width: 50%;
  font-size: 17px;
  height: 100%;
  line-height: 36px;
}
.condition-nav-1-selected {
  background-color: #005bac;
  color: white;
}
.top-basic {
  border-right: 1px solid black;
  border-top-left-radius: 10px;
}
.top-condition {
  border-top-right-radius: 10px;
}
.nav-body-1 {
  height: 80%;
}
.basic-move {
  margin-top: 10%;
  width: 100%;
}
.basic-move > span {
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 7%;
  padding-left: 4%;
  font-weight: bold;
}
.basic-move > select {
  width: 80%;
  margin: 0 auto;
}

.nav-body-2 {
  height: 100%;
  max-height: 385px; /* 최대 높이 제한 */
  overflow-y: auto; /* 세로 스크롤 추가 */
  display: none;
}

/*옵션 추가 버튼*/
.j-condition-plus-img {
  gap: 10px;
  margin-top: 4%;
}
.j-condition-plus-img > div {
  color: #005bac;
  font-weight: bold;
}
.j-condition-plus-img > img {
  width: 23px;
  height: 23px;
}

/*아코디언*/
.condition-nav-2 {
  border-radius: 10px;
  margin-top: 5%;
  height: 45%;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.accordion {
  margin-top: 4%;
}
.condition-ac {
  border-radius: 0px;
}
.condition-ac-header {
  border-radius: 0px;
}
.condition-ac-body {
}
.condition-if {
  margin-bottom: 10%;
}
.accordion-button::after {
  display: none;
}

/* 아코디언 버튼 스타일 */
.accordion-button {
  background-color: white !important;
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.2rem;
}

/* 활성화된 아코디언의 배경색 */
.accordion-button.active {
  background-color: #cfe2ff !important;
}

/* 화살표 스타일 */
.arrow {
  display: inline-block;
  margin-right: 10px;
  transition: transform 0.3s;
}

/* 화살표 회전 효과 */
.arrow.rotate {
  transform: rotate(90deg);
}

/* 아코디언 내용 기본 숨김 */
.accordion-collapse {
  display: none;
  overflow: hidden;
}
/* 질문 카드 css */
.j-que-con-card {
  border: 1.5px solid #dfdfdf;
  width: 33%;
  height: 110px;
  border-radius: 15px;
  margin-bottom: 5%;
  position: absolute;
  /* 절대 위치로 드래그 가능하게 설정 */
  cursor: move;
  /* 드래그 시 마우스 커서 변경 */
  box-shadow: 5px 5px 5px #e5e7eb;
  cursor: pointer;
}

.j-que-con-selectd-card {
  border-color: #dc3545;
}

.j-corder {
  width: 10%;
  font-weight: bold;
  font-size: 25px;
}

.j-type-con-img {
  width: 15%;
}

.j-type-con-img > img {
  width: 35px;
  height: 35px;
}

.j-con-que-name {
  width: 70%;
  font-size: 20px;
  box-sizing: border-box;
  font-weight: bold;
  padding-left: 3%;
}

/* 질문 카드 css */

/*condition 모달*/
#j-con-modal {
  background-color: white;
  width: 380px;
  height: 700px;
  position: relative;
  top: -750px;
  left: 1910px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px #e5e7eb;
  transition: left 0.5s ease-in-out;
}

#j-con-modal-hader > div {
  width: 50%;
  text-align: center;
  border: 1px solid #7a8699;
  border-top: none;
  height: 40px;
  background-color: #005bac;
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
}

.j-con-modal-h-select {
  color: white !important;
}

.j-condition-plus {
  align-items: center !important;
  justify-content: flex-start;
  width: 100%;
}

#j-con-modal-body {
  box-sizing: border-box;
  padding-left: 5%;
}

.j-basic-move {
  margin-top: 8%;
  font-size: 18px;
  font-weight: bold;
  color: #6b6b6b;
}

.j-basic-move > select {
  width: 70%;
  color: #7a8699;
  border-color: #7a8699;
  margin-top: 5%;
  height: 33px;
}

.j-condition-move {
  margin-top: 30%;
  color: #6b6b6b;
  font-size: 18px;
  font-weight: bold;
}

.j-condition-plus {
  gap: 20px;
}

.j-con-plus-button {
  width: 20px;
  height: 21px;
  color: white;
  border-radius: 50%;
  font-weight: bord;
  background-color: #005bac;
  text-align: center;
}

.j-con-plus-button > span {
  display: inline-block;
  line-height: 24px;
}

/*condition 모달*/

/*컨디션 카드 안에 편집*/
.j-condition-header {
}

.j-condition {
  width: 100%;
}

.j-condition-content-box {
  padding-top: 6%;
  width: 100%;
  height: 80%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.j-arrow {
  width: 20%;
}

.j-arrow > img {
  width: 20px;
  height: 20px;
}

.j-con-sur-name {
  width: 80%;
}

/*조건내용*/
.j-condition-c {
  box-sizing: border-box;
  padding-left: 5%;
  font-size: 17px;
  border: 1px solid black;
  width: 95%;
  margin-top: 2%;
}

.j-condition-c > div {
  margin-top: 3%;
  margin-bottom: 3%;
}

.j-condition-c > input {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 80%;
}

.j-condition-c > select {
  margin-top: 3%;
  margin-bottom: 8%;
  height: 31px;
  width: 79%;
}

.operations {
  display: block;
  width: 181px;
}

.next-ques {
  display: block;
  width: 181px;
}

/*조건내용*/

/*condition style*/
.vis-network .vis-node {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px; /* 경계 모서리 둥글게 */
}

/*condition-nav2 style*/
.con-question-box {
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  padding-top: 3%;
  padding-left: 3%;
}
.con-question-box > span {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 10%;
}
.con-question-input {
  height: 17%;
  margin-bottom: 5%;
}
.con-question-input > input[type='text'] {
  height: 80%;
}
.con-question-type {
  height: 10%;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-bottom: 5%;
}
.con-question-type > .j-typeAndImg {
  width: 85% !important;
}
.con-question-description {
  height: 55%;
}
.con-question-description > textarea {
  height: 90% !important;
  resize: none;
}
.next-question-box {
  padding-right: 3%;
}

/*warning tooltip*/
.swal2-icon-content {
  height: 88px;
  font-size: 1.45em;
}
/*warning tooltip*/
