textarea {
	width: 100%;
	height: 100px;
	resize: none;
}

.checkbox-group label {
	margin-right: 10px;
}

.review-btn {
	background-color: #005BAC;
}
/* 질문 유형 선택 */
.select-question-type {
	position: relative;
	padding: 0 10px;
}

.vertical-line {
	position: absolute;
	left: 50%;
	top: 0;
	height: 100%;
	width: 1px;
	background-color: #acb0ad;
	transform: translateX(-50%);
}

.checkbox-group {
	display: flex;
	flex-direction: column;
}

.form-group {
	display: flex;
	align-items: center;
}

.form-group label {
	margin-right: 10px;
}

.form-select {
	margin-left: 10px;
}

.checkbox-group {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.question-description {
	padding-left: 20px;
}

.question-selection {
	padding-right: 20px;
}

.select-add-questions {
	padding-left: 20px;
	overflow-y: auto;
	max-height: 300px;
}

.checkbox-item {
	display: flex;
	align-items: center;
}

.checkbox-item label {
	margin-left: 5px;
	margin-right: 10px;
	min-width: 70px;
}

.small-select {
	margin-left: 10px;
	width: 80px;
}

#questions-modal {
	max-height: 800px;
	overflow-y: auto; 
}

/* 추천 질문 목록 - js 동적 생성 */
.question-group {
	margin-bottom: 20px;
	padding: 10px;
	background-color: #f9f9f9;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
}

.questions-list {
	max-height: 400px;
	overflow-y: auto;
	padding: 10px;
}

.question-list {
	padding-left: 20px;
}

.questions-list h6 {
	margin: 10px 0 5px;
	color: #333;
	font-weight: bold;
}

.questions-list div {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #fff;
	transition: background-color 0.3s;
	margin: 10px 0 10px 0;
}

.questions-list div:hover {
	background-color: #f0f0f0;
}

.questions-list input[type="checkbox"] {
	margin-right: 8px;
}

.question-toggle {
	cursor: pointer;
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 10px;
}

.question-type {
	font-weight: bold;
	padding: 10px 0px;
}

.select-question-section {
	margin-bottom: 20px;
}