
body {
  background-color: #f8f9fc !important;
}
.content {
  margin-top: 100px;
  margin-left: calc(100vh - 560px);
  margin-right: 40px;
  /*  background-color: green; */
  min-height: calc(100vh - 60px);
  box-sizing: border-box;
}

.j-flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.j-flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* question navBar  */
#j-question-nav {
  height: calc(100vh - 60px);
  width: 270px;
  background: white;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  top: 60px;
  left: 60px;
  /* 헤더와 겹치지 않도록 설정 */

  box-shadow: 5px 5px 5px #e5e7eb;
  overflow: hidden;
}

.j-question-box {
  min-height: 10%;
  max-height: 670px;
  overflow:auto;
  border-bottom: 2px solid #e7dfdf;
}
.j-deploy-box{
  min-height: 10%;
  max-height: 670px;
  overflow:auto;
  border-bottom: 2px solid #e7dfdf;
  display: none;
}
.j-total-question-box {
  height: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.j-total-question-box > span {
  margin-right: 30%;
  font-weight: bold;
  font-size: 16px;
  color: #42526e;
}
/*question*/
.j-question-list {
  min-height: 30%;
}
.j-question {
  margin-top: 8%;
  margin-bottom: 8%;
  cursor: pointer;
}
.question-img {
  width: 25%;
}
.question-name {
  width: 65%;
  color: #42526e;
  font-weight: normal;
  font-size: 13px;
}
.question-img > img {
  width: 25px;
  height: 26px;
}
/*plus- button*/
.j-question-plus-button {
  margin-top: 10%;
  height: 30%;
}
.j-question-plus-button > button {
  border-radius: 5px;
  width: 85%;
  height: 30px;
  border: none;
  color: #42526e;
  font-weight: bold;
  font-size: 13px;
  line-height: 10px;
  margin-bottom: 5%;
}
.j-question-plus-button > button:hover {
  background-color: #d0d0d0; /* 마우스 올렸을 때 배경 색상 */
}
.j-question-plus-button > button > div {
  margin-right: 5%;
}
.j-question-plus-button > button > div > img {
  width: 12px;
  height: 12px;
}

.j-i-btn-name {
  margin-right: 8%;
  font-size: 13px;
  font-weight: bold;
  color: #42526e;
  width: 70%;
}
.j-i-btn-plus > img {
  width: 18px;
  height: 18px;
}

.j-list-xbutton{
	width: 10%;
	margin-right: 9%;
	
}
.j-list-xbutton > img{
	width: 15px;
	height: 15px;
	cursor: pointer;

}

.j-questionNav-tab-Box > div{
	width: 50%;
	text-align: center;
	height: 40px;
	box-sizing: border-box;
	padding-top: 3%;
	border-bottom: 1.5px solid #E7DFDF;
	font-weight: bold;
	cursor: pointer;
	font-size: 14px;
	color:rgba(66,82,110,0.5);
	
}
.j-question-nav-tab{
	border-right: 1.5px solid #E7DFDF;
}
.j-question-nav-color{
	color: #42526e !important;
	background-color: #F0F5FF !important;
}


.j-fix-height{
	position: fixed;
	 bottom: 80px; 
	 left: 95px;
	
}

.j-nav-input-button{
	width: 200px;
	 height: 40px;
	 border-radius: 5px;
	 border: none;
	 background-color: #005BAC;
	 color:white;
	 font-weight: bold;
}
.j-depoly-button{
	display: none;
}

/* question navBar  */
