.j-card-selected {
  border: 1px solid #dc3545 !important;
}

.j-question-card {
  width: 85%;
  min-height: 240px;
  background-color: white;
  border: 1px solid #005bac;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 10%;
  box-shadow: 5px 5px 5px #e5e7eb;
}
.j-survey-name {
  width: 95%;
  min-height: 50px;
  box-sizing: border-box;
}
.j-survey-name-input {
  width: 100%;
  font-size: 23px;
  font-weight: bold;
  padding-left: 3%;
  border: none;
}
.j-survey-name-input::placeholder {
  color: black;
}

.j-survey-content {
  margin-top: 1%;
  width: 95%;
  min-height: 50px;
}
.j-survey-content > textarea {
  width: 100%;
  height: 70px;
  border: none;
  resize: none;
  padding-left: 3%;
  padding-right: 4%;
  color: #aeaeae;
  font-weight: bold;
  text-align: left;
}
.j-survey-content > textarea::placeholder {
  text-align: left;
}

.j-question-content-box {
  width: 100%;
  min-height: 50px;
}

.j-survey-es-type {
  margin-top: 1%;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding-right: 3%;
}
.j-typeAndImg {
  font-weight: bold;
  width: 10%;
}
.j-typeAndImg > img {
  width: 25px;
  height: 25px;
  margin-right: 10%;
}
.j-essential {
  margin-right: 2%;
  border: 2px solid #cccccc;
  border-radius: 5px;
  background: white;
  color: #999999;
  font-weight: bold;
  width: 6%;
}
.j-es-seleted {
  color: white !important;
  background-color: #005bac !important;
  border: 2px solid rgba(0, 91, 172, 0.4) !important;
}

/*객관식 옵션 css*/
.j-select-optionBox {
  margin-bottom: 2%;
}
.j-option-order {
  width: 5%;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
.j-option-input-radio {
  height: 40px;
  width: 70%;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.j-option-input-radio > input[type='text'] {
  height: 100%;
  margin-left: 1%;
  width: 90%;
  border: none;
  background-color: #eeeeee;
  border-radius: 5px;
}
.j-option-input-radio > input[type='text']::placeholder {
  color: #aeaeae;
  font-weight: bold;
}
.j-option-input-radio > input[type='radio'] {
  margin-left: 4%;
  background-color: #cdcdcd;
  appearance: none;
  width: 30px;
  height: 30px;
  border: 2px solid #cdcdcd;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.j-xbutton {
  width: 10%;
  margin-left: 2%;
}
.j-xbutton > img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.j-option-plus {
  margin-top: 1%;
  margin-bottom: 2%;
  display: flex;
  justify-content: flex-end;
  width: 20%;
  color: #005bac;
  font-weight: bold;
  font-size: 14px;
}
.j-op-name {
  height: 25px;
}
.j-option-plus-img {
  margin-left: 5%;
}
.j-option-plus-img > img {
  width: 15px;
  height: 15px;
}

/*객관식 css*/

/*단답형 css*/
.j-short-inputBox {
  height: 40px;
  width: 75%;
  background-color: #eeeeee;
  border-radius: 5px;
  margin-right: 3%;
  margin-bottom: 3%;
}

.j-short-inputBox > input[type='text'] {
  height: 100%;
  margin-left: 1%;
  width: 95%;
  border: none;
  background-color: #eeeeee;
  border-radius: 5px;
}
.j-short-inputBox > input[type='text']::placeholder {
  color: #aeaeae;
  font-weight: bold;
}
/*단답형 css*/

/*서술형 css*/
.j-long-inputBox {
  height: 90px;
  width: 75%;
  background-color: #eeeeee;
  border-radius: 5px;
  margin-right: 3%;
  margin-bottom: 3%;
}

.j-long-inputBox > textarea {
  height: 100%;
  margin-left: 1%;
  width: 95%;
  border: none;
  background-color: #eeeeee;
  border-radius: 5px;
  resize: none;
}
.j-long-inputBox > textarea::placeholder {
  color: #aeaeae;
  font-weight: bold;
}
textarea:focus {
  outline: none;
}
input:focus {
  outline: none;
}

/*서술형 css*/

/*checkBox css*/
.j-option-input-radio > input[type='checkbox'] {
  margin-left: 4%;
  background-color: #cdcdcd;
  appearance: none;
  width: 30px;
  height: 30px;
  border: 2px solid #cdcdcd;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

/*checkBox css*/

/*Liner css*/
.j-line {
  width: 80%;
  height: 10px;
  background-image: linear-gradient(
    90deg,
    #005bac 50%,
    rgba(0, 91, 172, 0.4) 50%
  );
}
.j-number {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 23px;
  font-weight: bold;
  margin-top: 1%;
  margin-bottom: 2%;
}
.j-number-range {
  margin-bottom: 2%;
}
.j-number-range > select {
  width: 7%;
  text-align: center;
  border-radius: 5px;
  margin-left: 1%;
  margin-right: 1%;
}
.j-number > span {
  font-weight: bold;
  cursor: pointer;
}

/*Liner css*/

/*dropdwon css*/
.j-dropdwon {
  height: 40px;
  width: 75%;
  background-color: #eeeeee;
  border-radius: 5px;
  margin-right: 3%;
  margin-bottom: 1%;
}
.j-dropdwon > select {
  border: none;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  text-align: center;
  color: #aeaeae;
  font-weight: bold;
}
select option[value=''][disabled] {
  display: none;
}
.j-dropdwon-modifiy {
  width: 100%;
  margin-bottom: 1%;
}
.j-dropdwon-img {
  margin-right: 1%;
}
.j-dropdwon-img > img {
  width: 15px;
  height: 15px;
}
.j-dropdwon-text {
  width: 15%;
  font-weight: bold;
  color: #005bac;
  font-size: 14px;
}

/* 모달  */
.modifiy-modal {
  position: absolute; /* 위치를 카드 기준으로 설정하기 위해 absolute 사용 */
  z-index: 1000; /* 모달을 다른 요소 위로 */
  width: 400px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: none; /* 처음에는 숨김 상태 */
}

.modal-content {
  padding: 20px;
}

.modal-header {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.modal-body {
  padding: 10px;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 20px;
}

/*dropdwon css*/
