<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcc.fillin.survey.dao.SurveyLogMapper">

    <select id="findSurveyLogs" parameterType="map" resultType="SurveyLogDTO">

--         SELECT
--             a.seq AS answer_seq,
--             a.question_seq,
--             a.participant_seq,
--             sl_start.occur_date AS start_date,
--             sl_end.occur_date AS end_date,
--             (sl_end.occur_date - sl_start.occur_date) * 24 * 60 * 60 AS response_time
--         FROM
--             answer a
--                 LEFT JOIN
--             survey_log sl_start ON sl_start.survey_seq = a.question_seq AND sl_start.cc_seq = 23 -- 시작일자
--                 LEFT JOIN
--             survey_log sl_end ON sl_end.survey_seq = a.question_seq AND sl_end.cc_seq = 31 -- 종료일자
--         WHERE
--             sl_start.occur_date IS NOT NULL
--           AND sl_end.occur_date IS NOT NULL
--         ORDER BY
--             a.seq, a.participant_seq
SELECT
    a.seq AS answer_seq,
    a.question_seq,
    a.participant_seq,
    sl_start.occur_date AS start_date,
    sl_end.occur_date AS end_date,
    (sl_end.occur_date - sl_start.occur_date) * 24 * 60 * 60 AS response_time
FROM
    answer a
        LEFT JOIN
    survey_log sl_start ON sl_start.answer_seq = a.seq AND sl_start.cc_seq = 23
        LEFT JOIN
    survey_log sl_end ON sl_end.answer_seq = a.seq AND sl_end.cc_seq = 31
WHERE
    sl_start.occur_date IS NOT NULL
  AND sl_end.occur_date IS NOT NULL
ORDER BY
    a.seq, a.participant_seq

    </select>




</mapper>
