<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcc.fillin.survey.dao.SurveyLogMapper">

    <!-- 빠른응답 및 설문 이탈자/완료자 조회 -->
<!--    <select id="findSurveyLogs" parameterType="map" resultType="SurveyLogDTO">-->

<!--            SELECT-->
<!--            a.seq AS answer_seq,-->
<!--            a.participant_seq,-->
<!--            sl_start.occur_date AS startDate,-->
<!--            sl_end.occur_date AS endDate,-->
<!--            CASE-->
<!--            WHEN sl_end.occur_date IS NOT NULL THEN-->
<!--            FLOOR((sl_end.occur_date - sl_start.occur_date) * 24 * 60 * 60)-->
<!--            ELSE NULL-->
<!--            END AS response_time,-->
<!--            CASE-->
<!--            WHEN sl_end.occur_date IS NULL THEN '중간 이탈'-->
<!--            ELSE '완료'-->
<!--            END AS status-->
<!--            FROM-->
<!--            answer a-->
<!--            LEFT JOIN survey_log sl_start-->
<!--            ON sl_start.answer_seq = a.seq-->
<!--            AND sl_start.cc_seq = 23-->
<!--            LEFT JOIN survey_log sl_end-->
<!--            ON sl_end.answer_seq = a.seq-->
<!--            AND sl_end.cc_seq = 31-->
<!--            WHERE-->
<!--            sl_start.occur_date &gt;= TO_DATE(#{startDate}, 'YYYY-MM-DD HH24:MI:SS')-->
<!--            AND (sl_end.occur_date &lt;= TO_DATE(#{endDate}, 'YYYY-MM-DD HH24:MI:SS') OR sl_end.occur_date IS NULL)-->
<!--            AND (sl_start.survey_seq = #{surveySeq})-->
<!--            ORDER BY-->
<!--            a.participant_seq-->

<!--    </select>-->
        <select id="findSurveyLogs" parameterType="map" resultType="SurveyLogDTO">

                SELECT
                        a.seq AS answer_seq,
                        a.participant_seq,
                        sl_start.occur_date AS startDate,
                        sl_end.occur_date AS endDate,
                        CASE
                                WHEN sl_end.occur_date IS NOT NULL THEN
                                        FLOOR((sl_end.occur_date - sl_start.occur_date) * 24 * 60 * 60)
                                ELSE NULL
                                END AS response_time,
                        CASE
                                WHEN sl_end.occur_date IS NULL THEN '중간 이탈'
                                ELSE '완료'
                                END AS status
                FROM
                        answer a
                                LEFT JOIN survey_log sl_start
                                          ON sl_start.answer_seq = a.seq
                                                  AND sl_start.cc_seq = 23
                                LEFT JOIN survey_log sl_end
                                          ON sl_end.answer_seq = a.seq
                                                  AND sl_end.cc_seq = 31
                WHERE
                        sl_start.occur_date &gt;= #{startDate}
                  AND (sl_end.occur_date &lt;= #{endDate} )
                  AND (sl_start.survey_seq = #{surveySeq})
                ORDER BY
                        a.participant_seq

        </select>

    <!-- 설문 상태 비율 -->
    <select id="findSurveyStatusCounts" parameterType="map" resultType="SurveyStatusDTO">

            WITH combined_data AS (
            SELECT
            CASE
            WHEN sl_end.occur_date IS NOT NULL
            AND (sl_end.occur_date - sl_start.occur_date) * 24 * 60 * 60 &lt;= 60 THEN '빠른 응답자'
            WHEN sl_end.occur_date IS NULL THEN '설문 이탈자'
            ELSE '설문 완료자'
            END AS status,
            sl_start.occur_date AS start_date,
            sl_end.occur_date AS end_date
            FROM
            answer a
            LEFT JOIN
            survey_log sl_start ON a.seq = sl_start.answer_seq AND sl_start.cc_seq = 23
            LEFT JOIN
            survey_log sl_end ON a.seq = sl_end.answer_seq AND sl_end.cc_seq = 31
            WHERE
            sl_start.occur_date IS NOT NULL
            AND sl_start.survey_seq = #{surveySeq}
            )
            SELECT
            status,
            COUNT(*) AS count,
            ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER (), 2) AS percentage
            FROM combined_data
            WHERE
            (TO_CHAR(start_date, 'YYYY-MM-DD') &gt;= #{startDate} AND TO_CHAR(end_date, 'YYYY-MM-DD') &lt;= #{endDate})
            OR (TO_CHAR(start_date, 'YYYY-MM-DD') &gt;= #{startDate} AND end_date IS NULL)
            GROUP BY status
</select>





</mapper>
